body {
  margin-top: 30px;
  font-family: "Poppins", sans-serif;
}

.container-weather {
  box-shadow: 1px rgba(0, 0, 0, 0.1);
  margin: 30px 30px auto;
  color: #878787;
  border: 1px solid #dadde1;
  border-radius: 4px;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  max-width: 500px;
}

/*Location*/
#location {
  font-size: 24px;
  font-weight: 500;
  color: #878787;
  margin-bottom: 0;
}
.current-date {
  font-size: 15px;
  margin-top: -5px;
  padding-top: 0px;
  margin-bottom: 30px;
  margin-left: 2px;
}

.weather-details {
  font-size: 13px;
  list-style: none;
  padding-left: 0;
}
/*Current*/
.container-weather .current-temperature {
  font-size: 40px;
  color: #4f5e58;
  line-height: 1;
  display: flex;
  justify-content: center;
  margin-top: -50px;
}

.current-temperature strong {
  font-size: 17px;
}

/*#temp-units {
  color: #4f5e58;
  font-size: 15px;
  display: flex;
  justify-content: end;
  padding-top: 5px;
  line-height: 1;
}
*/

#fahrenheit-link {
  text-decoration: none;
}

#icon {
  max-width: 60px;
  line-height: 1;
  display: flex;
  justify-content: center;
}
/*Search*/
.change-city {
  color: #4f5e58;
  font-size: 12px;
  margin-top: 6px;
}

.change-city-button {
  border: 1px solid #878787;
  border-radius: 3px;
  background: #878787;
  color: #f0fdf8;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
}
.city-input {
  border: 1px solid #dadde1;
  border-radius: 3px;
}
/*
.current-location-button {
  border: none;
  background-color: white;
  margin-top: 2px;
}
*/
/*.current-location-img {
  max-width: 20px;
  max-height: 20px;
}
*/
/*Footer*/
#coded-by {
  font-size: 13px;
  display: flex;
  justify-content: center;
  margin-right: 300px;
}

#git-link {
  text-decoration: none;
  padding-right: 2px;
  display: flex;
  justify-content: end;
}

.Footer {
  padding-top: 0;
  margin-top: 0;
}
