body {
  margin-top: 30px;
  font-family: "Poppins", sans-serif;
  max-width: 700px;
  max-height: 500px;
}

.container-weather {
  background-color: #f8f9fa;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
  margin: 10px 10px 0px 10px;
  color: #4f5e58;
  border: 1px solid #48534f;
  border-radius: 4px;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  max-width: 700px;
  max-height: 500px;
}

/*Location*/
.location {
  margin-top: 0;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
#location {
  font-size: 24px;
  font-weight: 600;
  color: #4f5e58;
}
.current-date {
  font-size: 18px;
  margin-top: -5px;
  padding-top: 0px;
  margin-bottom: 30px;
  margin-left: 2px;
}

.weather-details {
  font-size: 13px;
  list-style: none;
  margin-left: -30px;
  margin-top: -20px;
}
/*Current*/
.container-weather .current-temperature {
  font-size: 45px;
  color: #4f5e58;
  line-height: 1;
  display: flex;
  justify-content: center;
}
#temp-units {
  color: #4f5e58;
  font-size: 15px;
  display: flex;
  justify-content: end;
  padding-top: 5px;
  line-height: 1;
}

#celsius-link,
#fahrenheit-link {
  text-decoration: none;
}

#temp-div {
  margin-top: 0;
}

#temp-units {
  color: #4f5e58;
  font-size: 15px;
  display: flex;
  justify-content: center;
  padding-top: 5px;
  line-height: 1;
}

#icon {
  max-width: 60px;
}
/*Search*/
.change-city {
  color: #4f5e58;
  font-size: 12px;
  margin-top: 6px;
}

.change-city-button {
  border: 1px solid #4f5e58;
  border-radius: 5px;
  background: #4f5e58;
  color: #f0fdf8;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
}
.city-input {
  border: 1px solid #4f5e58;
  border-radius: 5px;
}

.current-location-button {
  border: none;
  background-color: #f8f9fa;
  color: #4f5e58;
  margin-top: 2px;
}
.current-location-img {
  max-width: 20px;
  max-height: 20px;
}

/*Footer*/
#coded-by {
  font-size: 13px;
  display: flex;
  margin-right: 10px;
  justify-content: end;
}

#git-link {
  text-decoration: none;
  padding-right: 2px;
  display: flex;
  justify-content: end;
}

.Footer {
  padding-top: 0;
  margin-top: 0;
}
